.main{
Width: 200px;
Background-color: purple;
border-left-color: green;
text-decoration-thickness: 5px;
Padding: 10px;
}
.heading{
Font-size: 20 px;
Text-color: white;
Text-decoration: underline;
}
/* Your CSS Code here. */