.Container{
Width: 200px;
Background-color: purple;
Left side border-color: green;
Left side border-thickness: 5 px;
Padding on all sides: 10 px;
}
Heading{
Font-size: 20 px;
Text-color: white;
Text-decoration: underline;
}
/* Your CSS Code here. */